//color palette
$grey_800: #2C2D2E;
$grey_300: #87898F;
$grey_200: #F9F9F9;
$grey_100: #F3F3F3;

$green_400: #52A754;

$orange_400: #FF7355;

$red_500: #FF2045;
$red_100: #FFE3DD;

$purple_500: #6B2ABC;

$blue_900: #12192B;
$blue_500: #41416E;

//adaptive
$mobile: 360px;
$tablet: 920px;
$desktop: 1024px;
